@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #252525;
  font-family: Inter, sans-serif;
  scrollbar-gutter: stable;
}
