@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Bebas+Neue&family=Cinzel:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #252525;
  font-family: Montserrat, sans-serif;
  scrollbar-gutter: stable;
}
